body {
	background-color: lightgray;
	text-align: center;
	.contactsList {
		margin : 0;
		padding: 0;
		.contactItem {
			background-color: white;
			padding: 15px;
			margin: 10px;
			img {
				width: 100px;
				height: 100px;
			}
		}
	}
}


